<app-shared></app-shared>
<div class="container">
    <div class="top">
        <h3>Users</h3>
        <a><img src="assets/plus.svg">Invite User</a>
    </div>
    <div class="users">
        <h4>Active</h4>
        <div class="list">
            <div class="user" *ngFor="let user of active">
                <div class="left">
                    <p class="name">{{user.name}}</p>
                    <p>{{user.email}}</p>
                    <p [ngClass]="user.role?'role':'no-role'">
                        <img *ngIf="!user.role" src="assets/exc.svg">
                        {{user.role || "Assign a role"}}
                    </p>
                </div>
                <div class="dropdown">
                    <button 
                        class="btn dropdown-toggle" 
                        type="button" 
                        id="dropdownMenuButton" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                        <img src="assets/dots.png">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" (click)="open(content, user._id)">Permissions</a>
                      <a class="dropdown-item" href="#">Change Role</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Make Inactive</a>
                      <a class="dropdown-item" (click)="deleteUser(user._id)">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <h4>Inactive</h4>
        <div class="list">
            <div class="user" *ngFor="let user of inactive">
                <div class="left">
                    <p class="name">{{user.name}}</p>
                    <p>{{user.email}}</p>
                    <p [ngClass]="user.role?'role':'no-role'">{{user.role || "Assign a role"}}</p>
                </div>
                <div class="dropdown">
                    <button 
                        class="btn dropdown-toggle" 
                        type="button" 
                        id="dropdownMenuButton" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Permissions</a>
                      <a class="dropdown-item" href="#">Change Role</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Make Inactive</a>
                      <a class="dropdown-item" (click)="deleteUser(user._id)">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <ng-template #content let-modal>
        <div class="modal-header text-center">
          <h4 class="modal-title  w-100" id="modal-basic-title">Edit User Permissions</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p [ngClass]="selectedUser.role?'role':'no-role'">
                <img *ngIf="!selectedUser.role" src="assets/exc.svg">
                {{selectedUser.role || "Assign a role"}}
            </p>
            <h3><strong>{{selectedUser.name}}</strong></h3>
            <p>Permissions for this user can be customized below.<br>You can always <span>apply '{{selectedUser.role || ''}} Group' defaults.</span></p>
            <div class="form-group">
                <p>Catalog</p>
                <hr>
                <div class="custom-control custom-switch">
                    <input 
                        type="checkbox" 
                        class="custom-control-input" 
                        id="catalog"
                        [checked]="catalog"
                        (change)="onCatalogCheck()"
                        [(ngModel)]="catalog">
                    <label 
                        class="custom-control-label" 
                        for="catalog">
                        View Costs & Profit
                        <img src="assets/info.svg">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <p>Proposals</p>
                <hr>
                <div class="custom-control custom-switch">
                    <input 
                        type="checkbox" 
                        class="custom-control-input" 
                        id="proposals1"
                        [checked]="proposals1"
                        (change)="onProposals1Check()"
                        [(ngModel)]="proposals1">
                    <label 
                        class="custom-control-label" 
                        for="proposals1">
                        Edit Proposals
                        <img src="assets/info.svg">
                    </label>
                </div>
                <div class="custom-control custom-switch">
                    <input 
                        type="checkbox" 
                        class="custom-control-input" 
                        id="proposals2"
                        [checked]="proposals2"
                        (change)="onProposals2Check()"
                        [(ngModel)]="proposals2">
                    <label 
                        class="custom-control-label" 
                        for="proposals2">
                        View Costs & Profits
                        <img src="assets/info.svg">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <p>People</p>
                <hr>
                <a 
                    type="button"
					ngbPopover="This must be on when you have 'Edit proposals' turned on. To turn off, please first turn off 'Edit proposals'." 
                    container="body">
                <div class="custom-control custom-switch">
                    <input 
                        type="checkbox" 
                        class="custom-control-input" 
                        id="people"
                        [checked]="people"
                        [(ngModel)]="people"
                        disabled>
                    <label 
                        class="custom-control-label" 
                        for="people">
                        Edit Contacts
                        <img src="assets/info.svg">
                    </label>
                </div>
                </a>
            </div>
            <div class="form-group">
                <p>Orders</p>
                <hr>
                <div class="custom-control custom-switch">
                    <input 
                        type="checkbox" 
                        class="custom-control-input" 
                        id="orders"
                        [checked]="orders"
                        (change)="onOrdersCheck()"
                        [(ngModel)]="orders">
                    <label 
                        class="custom-control-label" 
                        for="orders">
                        View Cost
                        <img src="assets/info.svg">
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button 
                type="button" 
                class="btn btn-outline-dark" 
                (click)="modal.close()">
                Close
            </button>
            <button 
                class="btn submit" 
                type="submit" 
                (click)='onSubmit()'>
                Save
            </button>
        </div>
    </ng-template>
</div>