.nav { 
    background-color: #242424;
    height: 100% !important;
    width: 15%;
    position: fixed;
    overflow: auto;
}
li a {
    color: #686a69;
    text-align: center;
    font-size: 18px;
}

.nav-item:hover, .nav-item:active, .active {
    border-left: 3px solid #dc4905;
    a { 
        color: #dc4905;
    }
    img {
        filter: invert(37%) sepia(57%) saturate(6919%) hue-rotate(14deg) brightness(99%) contrast(96%);
    }
}
img{
    display: block;
    margin: auto;
}
.nav-item img {
    display: block;
    margin: auto;
    width: 45px
}