<nav class="nav flex-column">
    <li class="navbar-brand">
        <img src="assets/portal.png">
    </li>
    <li class="nav-item">
        <img src="assets/cat.png">
        <a class="nav-link" href="#">Catalogue</a>
    </li>
    <li class="nav-item">
        <img src="assets/pro.png">
        <a class="nav-link" href="#">Proposals</a>
    </li>
    <li class="nav-item">
        <img src="assets/peo.png">
        <a class="nav-link" href="#">People</a>
    </li>
    <li class="nav-item">
        <img src="assets/pay.png">
        <a class="nav-link" href="#">Payments</a>
    </li>
    <li class="nav-item">
        <img src="assets/ord.png">
        <a class="nav-link" href="#">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/more">More</a>
    </li>
</nav>