.nav { 
    background-color: #242424;
    height: 100% !important;
    width: 15%;
    position: fixed;
    overflow: auto;
}
li a {
    color: #686a69;
    text-align: center;
    font-size: 18px;
}
li:hover, li:active {
    border-left: 3px solid #dc4905;
    a { color: #dc4905 }
}
img {
    display: block;
    margin: auto
}