<nav class="nav flex-column">
    <li class="navbar-brand">
        <img src="assets/portal.png">
    </li>
    <li 
        class="nav-item" 
        [routerLinkActive]="['active']" 
        [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/cat.svg">
        <a class="nav-link" href="#">Catalog</a>
    </li>
    <li 
        class="nav-item"
        [routerLinkActive]="['active']" 
        [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/pro.svg">
        <a class="nav-link" href="#">Proposals</a>
    </li>
    <li 
        class="nav-item"
        [routerLinkActive]="['active']" 
        [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/peo.svg">
        <a class="nav-link" href="#">People</a>
    </li>
    <li 
        class="nav-item"
        [routerLinkActive]="['active']" 
        [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/pay.svg">
        <a class="nav-link" href="#">Payments</a>
    </li>
    <li 
        class="nav-item"
        [routerLinkActive]="['active']" 
        [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/ord.svg">
        <a class="nav-link" href="#">Orders</a>
    </li>
    <li 
        class="nav-item"
        [routerLinkActive]="['active']" 
        [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/more.svg">
        <a class="nav-link" [routerLink]="['/more']">More</a>
    </li>
</nav>