.container {
    margin-left: 32%;
}
.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.users {
    background-color: white;
    border: 0.5px solid #e9e9e9;
    border-radius: 5px;
    width: 70%;
    padding: 20px
}