.nav { 
    width: 15%;
    position: fixed;
    overflow: auto;
    margin-left: 16%;
}
a {
    color: #686a69;
    padding-bottom: 0;
    font-weight: 550;
}

a:hover, a:active, .active {
    color: black;
}